.buttons {
  display: flex;
  width: 100%;
  flex-wrap: wrap;
  gap: 12px 18px;
  margin: 12px 4px;
  justify-content: center;
}

.btn {
  display: flex;
  font-family: "Roboto", sans-serif;
  font-size: medium;
  height: 60px;
  width: 60px;
  font-size: 1.5em;
  font-weight: bold;
  border-radius: 50%;
  background-color: #ffa31a;
  color: whitesmoke;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  border: 0;
}

.btn:hover {
  transform: scale(1.1);
  box-shadow: 0px 5px 15px rgba(245, 245, 245, 0.6);
}

.btn:active {
  transform: translateY(4px) !important ;
}

.danger:hover {
  background-color: rgba(240, 40, 30, 1) !important;
}

.btn.op:hover {
  transform: scale(1.1);
  box-shadow: 0px 5px 15px rgba(255, 120, 26, 0.8);
}

.btn.num:hover {
  transform: scale(1.1);
  box-shadow: 0px 5px 15px rgba(148, 148, 148, 0.8);
}

.btn.op {
  background-color: #ffa31a;
  color: whitesmoke;
  font-size: xx-large;
}

.btn.func {
  background-color: #686868;
  color: whitesmoke;
}

.btn.num {
  background-color: #303030;
  color: whitesmoke;
}

.btn.zero {
  display: flex;
  width: 140px;
  border-radius: 48px;
  justify-content: flex-start;
  padding-left: 24px;
}

body {
  display: flex;
  justify-content: center;
  margin-top: 24px;
  background-color: lightslategray;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: black;
  width: 350px;
  height: 650px;
  border-radius: 40px;
  box-shadow: 8px 8px 16px rgba(0, 0, 0, 0.5);
}

.display {
  font-family: "Roboto", sans-serif;
  font-size: large;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 200px;
}

.display .bottom,
.display .top {
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  flex-wrap: wrap;
  /* border: 1px solid white; */
  height: 45%;
  color: whitesmoke;
  font-weight: normal;
  font-size: 2.5em;
  padding: 12px 32px;
}

.display .top {
  font-size: 3.5rem;
}
